  @charset "utf-8";

  @font-face {
    font-family: geomatric;
    src: url(font/geomatric.ttf);
  }
  * {
    text-decoration: none;
    /* margin: 0; */
    /* padding: 0; */
  }

  body {
      background: #F5F5F5;
      margin: 0;
      padding:0;
      font-family: 'geomatric', 'inter';
      box-sizing: border-box;
    }

  #header {
    background-image: url("../../image/header.png");
    background-repeat: no-repeat;
    background-attachment:inherit;
    background-position:top;
  }

  .wrapper {
    width: 1100px;
    margin: auto;
    position: static;
  }

  .logo a{
  font-size: 20px;
  font-weight: 900;
  float: left;
  font-family: 'geomatric';
  color: #DBAB59;
  }

  .logo img {
    vertical-align: middle;
    height: 50px;
  }

  .menu{
    float: right;
  }

  nav {
    width: 100%;  
    height: 13vh;
    margin: auto;
    display: flex !important;
    line-height: 80px;
    position: fixed;
    position: -webkit-sticky;
    background:transparent;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease;

  }

  nav.scrollink-active {
    background-color: #02203B;
  }

  nav ul {
    list-style-type:none; 
    margin: 0;
    padding:0;
    /* overflow: hidden; */
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    color: #C4C4C4;
    font-weight: 900;
    font-style: normal;
    text-align:center;
    margin: 19px;
    padding:15px;
    text-decoration: none;
  }

  nav ul li a:hover {
    /* text-decoration: underline; */
    color: #ffffff;
  }

 nav ul li a::after {
    content: "";
    display: flex;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 40px;
    margin-top: -30px;
    align-items: center;
    justify-content: center;
    background-color: #C38D43;
    transform: translate(-150%);
    transition: all 0.3s ease;
  }


  nav ul li a:hover::after {
    transform: translate(150%);
    /* transform:translateX(10%); */
  }

  .type {
    padding-top: 70px;
    padding-left:186px ;
    padding-bottom: 50px;
  }

  .type .judul {
    left: 0px;
    /* position: inherit; */
    color: white;
    font-family: 'geomatric';
    font-size: 55px;
    line-height: 66px;
    margin-top: 80px;
  } 

  .capital{
    margin-left: 185px;
    font-size: 20px;
    font-family: 'inter';
    color:rgb(241, 241, 241);
  }

  .box-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }

  .box-1,.box-2,.box-3,.box-4 {
    width: 240px;
    height: 254px; 
    background-color:#FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.25);
    align-items: center;
    flex-direction: column;
    margin: 20px 30px;
    margin-top:20px ;
    border-radius: 10px;
  } 
  
  .box-1{
    background-image:url("../../image/report.png");
    background-position: center;
    background-size: 100px;
  }

  .box-2{
    background-image:url("../../image/collaborasi.png");
    background-position: center;
    background-size: 100px;
  }

  .box-3{
    background-image:url("../../image/integrity.png");
    background-position: center;
    background-size: 100px;
  }

  .box-4{
    background-image:url("../../image/inovasi.png");
    background-position: center;
    background-size: 100px;
  }

  .box-1,.box-2,.box-3,.box-4, h2 {
    font-size: 20px;
    font-weight: 900;
    font-family: 'geomatric';
    text-align: center;
    color: #02203B;
  }

  h2 {
    margin-top: 189px;
  }

  #deskrip{
    margin-bottom: 50px;
  }

  .text-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .text-container .text {
    font-size: 50px;
    font-weight: 900;
    font-family: 'geomatric';
    color: #02203B;
    text-align: center;
    line-height: 60px;
    /* position: sticky; */
  }

  .subjudul {
    font-size: 25px;
    font-family: 'geomatric';
    font-weight:700;
    line-height:144px;
    margin-left: 190px;
    color: #02203B;
  }

  .deskription {
    font-size: 20px;
    margin-left:190px ;
    font-family: sans-serif;
    text-align: justify;
    line-height: 25px;
    color: #333333;
    }


  .images {
    position: absolute;
    width: 289px;
    top: 1190px;
    margin-left: 980px;
  }

  .images1 {
    position: absolute;
    top: 1620px;
    margin-left: 1210px;
  }

  .search {
    margin-left: 190px;
    font-size: 20px;
    font-family: 'geomatric';
    font-weight: 900;
    color: #02203B;
  }

  .link{
    /* font-size: 24px; */
    padding: 2px 14px ;
    border-radius: 5px;
    color: white;
    background: #02203B;
    /* vertical-align: middle; */
    
  }
  .link i {
    align-items: center;
    /* vertical-align: middle; */
    margin-bottom:5px;
  }

  .link:hover {
    background-color:#093052;
  }

  .polygon {
    margin-top: -160px;
    position: relative;
  }

  .workflow {
    background-image: url("../../image/header2.png");
    background-repeat: no-repeat;
    background-size:auto;
    padding-bottom:50px ;
    margin-top:-190px ;
  }

  .middle {
    margin-top: 50px;
    text-align: center;
  }

  .titlewk {
    margin-bottom: 100px;
    font-size: 30px;
    text-align: center;
    color: #C38D43;
    line-height: 80px;
  }

  .titleow {
    font-size: 50px;
    color: #FFFFFF;
    font-family: 'geomatric';
    /* line-height:; */
    margin-top: 1px;
  }

  .border-container {
    display: flex; 
    justify-content:center;
    margin-top:1px ;
    line-height: 95px;
    position: sticky;
  }

  .border1,.border2,.border3,.border4 {
    width: 150px;
    height: 150px;
    background: #FFFFFF;
    border-radius: 50%;
    margin: 10px 50px;
    position: relative;
  }

  .border1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: linear-gradient(180deg, #FCC30F 0%, #EC4525 100%);
  }

  
  .border2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: linear-gradient(180deg, #FCC30F 0%, #EC4525 100%);
  }

  .border3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: linear-gradient(180deg, #FCC30F 0%, #EC4525 100%);
  }

  .border4::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background-image: linear-gradient(180deg, #FCC30F 0%, #EC4525 100%);
  }

  
 .border1{
    background-image:url("../../image/workflow/Conclusion.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
 }

 .border2{
  background-image:url("../../image/workflow/Growth\ Graph.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}

.border3{
  background-image:url("../../image/workflow/Market\ Analysis.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}

.border4{
  background-image:url("../../image/workflow/Processing.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
}

/* .arow{ */
  /* margin-left: 150px; */
  /* margin-top: 50px; */
/*} */


.border1,.border2,.border3,.border4,.font {
  font-size: 15px;
  text-align: center;
}

.font {
  margin-top:130px; 
  background: -webkit-linear-gradient(180deg, #FCC30F 0%, #EC4525 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.frame {
  display:flex;
  position: relative;
  /* justify-content: center; */
  background-image: url("../../image/Rectangle\ 16.png");
  /* line-height: 10px; */
  /* background-size:auto; */
  background-repeat: no-repeat;
  background-position:bottom;
  padding-bottom: 100px;

}

 .frame h1 {
  font-size: 50px;
  color:#02203B;
  font-weight: 900;
  text-align: center;
}

.frame .box-frame {
  display:inline;
  position: relative;
}

.frame .box-frame button {
  width: 392px;
  height: 630px;
  background: #FFFFFF;
  margin-bottom: 100px;
  border: none;
  border: 3px solid #E5E5E5;
  border-radius: 30px;
  margin: 30px 15px;
  cursor: pointer;
  left: 40px;
  position:relative; 
}

.frame .box-frame button::before{
  content: "";
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translate(-50%, 0);
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: #E5E5E5;
}

.frame .box-frame button:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translate(-50%, 0);
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background:linear-gradient(180deg,  #DE9E45 0%, #02203B 100%);
}

.frame .box-frame button:hover {
  width: 393px;
  height: 630px;
  border: 3px solid;
  border-radius: 30px;
  border-image: linear-gradient(to right, 180deg, #DE9E45 0%, #02203B 100% );
}

.frame .box-frame .buton {
  width: 320px;
  height: 80px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: inline-block;
  margin: 10px 0;
}


.frame .box-frame .buton:nth-child(1) h1 {
  font-size: 25px;
  color:#2C4C5A;
  text-align: center;
  /* display: none; */
}

.frame .box-frame .buton:nth-child(1)  h1 img {
  width: auto;
  vertical-align: middle;
  margin: 0 20px;
  align-items: center;
}

.frame .box-frame button img {
  width: auto;
  margin-top: 10px;
}

.testi {
  /* display: block; */
  position:relative;
}

.text-judul {
  font-size: 30px;
  color: #DBAB59;
  text-align: center;
  margin-top: -80px;
}

.text-sub {
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  line-height: 16px;

}

.line h1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  margin-left: 170px;
  color: #02203B;
  font-family: 'geomatric';
  text-transform: uppercase;
}

.vertical {
  border: 3px solid #093052;
  border-radius: 5px;
  height: 250px;
  width: 0;
  margin-left: 100px;
}

.client {
  background-image: url("../../image/Group\ 146.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 240px;
  margin-top: -50px;
}

.client h1 {
  font-size:50px;
  font-family: 'geomatric';
  font-weight: 900;
  text-align: center;
  margin-top: 100px;
}

.container {
  width: 100%;
  /* height: 200px; */
  align-items:center;
  justify-content: center;
}

.scroll {
  /* width: 1300px; */
  height:350px;
  padding: 10px;
  display: grid;
  flex-flow: row;
  overflow-x:scroll;
  /* border-radius: 50rem; */
  grid-auto-flow: column;
  border: transparent;
  /* line-height: 100px; */
  scroll-behavior: smooth;
}

.scroll::-webkit-scrollbar {
  display:none;
}

.box-client {
  width:200px;
  height:200px;
  margin: 0 70px;
  border-radius: 50%;
  position: relative;
  padding: 25px;
  /* overflow: hidden; */
  border: 3px solid #2C4C5A;
}

/* .box-client:nth-child(5) {
  /* overflow: hidden; */
  /* width: 200px;
  height: 200px;
  padding:15px;
}  */

.box-client:nth-child(9) {
  width:200px;
  height: 200px;
  margin: 0 30px;
  border-radius: 50%;
  position: relative;
  background-color: #131416;
  border: 3px solid #02203B;
}

.box-client img {
  width: 100%; 
  height: 100%;
  text-align: center;
  object-fit:contain;
  /* border-radius: 40%; */
}

.box-client h1 {
  color: #2C4C5A;
  font-family:'inter';
  font-size: 20px;
  margin-top: 40px;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  word-break: keep-all;
}

.box-client p {
  font-size: 14px;
  font-family: 'inter';
  text-transform: uppercase;
  text-align:center;
  margin-top: -10px;
  font-weight: 500;
}

#slide {
  width:70px;
  height: 25px;
  border-radius: 5px;
  background-color: #02203B;
  border: none;
  /* margin-top: -180px; */
  margin-left: 1220px;
}

#slide i {
  color: #FFFFFF;
  margin-top: 0;
  font-size: 25px;
}

.sinang-line {
  position: relative;
  margin-bottom: 50px;
  margin-top: -160px;
  margin-left: -10px;
}

.horizontal {
  border: 1px solid #C4C4C4;
  border-radius: 5px;
  width:1210px;
  height: 0;
  /* margin-top: -5px; */
  margin-left: 72px;
  margin-top: 50px;
}

.sinang-line h3 {
  font-size: 20px;
  color: #DBAB59;
  margin-top: -30px;
  vertical-align: middle;
}

.sinang-line h3 img {
  width: auto;
  vertical-align: middle;
  margin-left: 50px;
}

.icon {
  position: relative;
  margin-left: 1055px;
  margin-top: -75px;
}

.sinang-line,.box-icon {
  position: relative;
}

.box-icon i {
  font-size: 25px;
  margin: 0 15px;
  color: #02203B;
}
.maps {
  position: relative;
}

.maps,iframe {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  margin-left: 20px;
  margin-bottom: 25px;
}

.contact-foot {
  display: flex;
  float: left;
  margin-left: 490px;
  margin-top: -450px;
}

.menu-1 {
  margin: 0 ;
  
}

.menu-1,.our {
  font-size: 25px;
  font-family: 'inter';
  font-weight: 700;
  color: #02203B;
}

.menu-1 ul {
  line-height: 80px;
  margin-left: -18px;
  margin-top: -30px;
}

.menu-1 ul li a{
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #333333;
  font-family: 'inter';
}

.menu-2 {
  margin: 0 70px;
}

.menu-2,.ser {
  font-size: 25px;
  font-family: 'inter';
  font-weight: 700;
  color: #02203B;
  margin-top: 15px;
}

.menu-2 ul {
  line-height: 78px;
  margin-left: -18px;
  margin-top: -30px;
}

.menu-2 ul li a {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #333333;
  font-family: 'inter';
}

.menu-3 {
  margin: 0 0;
  /* display: block; */
  position: relative;
}

.menu-3 h3 {
  font-size: 25px;
  color: #02203B;
  font-style: normal;
  font-weight: 700;
}

.menu-3 p {
  font-size: 20px;
  line-height: 38px;
}

.menu-3 button {
  width: 250px;
  height: 65px;
  background-color: #02203B;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
}

.menu-3 button a {
  font-size: 15px;
  color: #FFFFFF;
  display: flex;
  line-height: 50px;
}

.btn1 {
  width: 45px;
  height: 45px;
  border: 2px solid #FFFFFF;
  border-radius:5px ;
  margin-left: 85px;
}

.btn1 i {
  font-size: 35px;
}

i {
  line-height: 10px;
  margin-top: 5px;
  /* align-items: center; */
}

.alamat p {
  font-size:15px;
  font-family: 'inter';
  /* margin-top: -70px;  */
  margin-left: 35px;
}

footer {
  background-color: #02203B;
  height: 40px;
}

footer h3 {
  color: #FFFFFF;
  margin-left: 10vh;
  line-height: 40px;
}

/* @media screen and (max-width:1200px){
  #header {
    /* background-image: url("../../image/header.png"); */
    /* background-repeat: no-repeat;
    background-attachment:inherit;
    /* background-position:top; */
    /* background-size: contain;
  } */ 
  /* .wrapper {
    width:auto;
    margin: auto;
    position: static;
  }  */

  /* nav {
    width:100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: relative;
    position: -webkit-sticky;
    background:transparent;
    top: 0;
    z-index: 1;
    transition: all 0.3s ease;
  } */
/* } */